In [20]:
var01 = 3
var02 = 4
print('덧셈 : ', var01 + var02) 
print('뺄셈 :', var01 - var02)
print('곱셈 :',var01*var02)
print('실수 나눗셈 :',var01/var02)
print('정수 나눗셈 몫: ',var01//var02)
print('정수 나눗셈 나머지:', var01%var02)
print('제곰 :', var01**2)

덧셈 :  7
뺄셈 : -1
곱셈 : 12
실수 나눗셈 : 0.75
정수 나눗셈 몫:  0
정수 나눗셈 나머지: 3
제곰 : 9

In [23]:
print('거듭제곱:', var01 **2)
print('거듭제곱:', pow(var01, 2))

거듭제곱: 9
거듭제곱: 9

### 파이썬 모듈을 이용한 수학계산

In [24]:
import math

In [25]:
# 거듭제곱

math.pow(var01, 2)

9.0

In [26]:
# 제곱근
math.sqrt(var01)

1.7320508075688772

In [27]:
# sin 45도
math.sin(45)

0.8509035245341184

In [28]:
# sin45^2 + cos45^2
pow(math.sin(45),2) + pow(math.cos(45),2)

1.0

In [29]:
# 난수발생 모듈 불러오기
import random

In [33]:
random.randint(1,100) # 1~100 중 난수 1개 발생

11

In [35]:
list(range(1,10)) #10 포함하지말고 10에서 멈춰라

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
lotto_list = range(1,46)
# list(lotto_list)
random.sample(lotto_list, 6)

[27, 31, 44, 9, 7, 11]

In [39]:
# 반올림 
print(round(123.45 ,1))
print(round(123.456 ,2))

123.5
123.46

In [40]:
# 올림
print(math.ceil(1.1))

2

In [41]:
# 내림
print(math.floor(1.1))

1

In [42]:
# 메모리에 있는 변수 보기
dir()

['In',
 'Out',
 '_',
 '_25',
 '_26',
 '_27',
 '_28',
 '_30',
 '_31',
 '_32',
 '_33',
 '_34',
 '_35',
 '_37',
 '_38',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__vsc_ipynb_file__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'lotto_list',
 'math',
 'os',
 'quit',
 'random',
 'sys',
 'var01',
 'var02']

In [43]:
var01

3

In [44]:
# 메모리에 있는 변수 제거

del var01

In [45]:
var01

NameError: name 'var01' is not defined

### 관계연산자

In [46]:
num1 = 100
num2 = 20

In [47]:
print(num1 == num2)
print(num1 != num2)
print(num1 < num2)
print(num1 > num2)
print(num1 <= num2)

False
True
False
True
False

### 논리연산자

In [48]:
print((num1 >= 50) & (num1 <=10))
print((num1 >= 50) | (num1 <=10))
print((num1 >= 50) and (num1 <=10))
print((num1 >= 50) or (num1 <=10))

False
True
False
True

In [49]:
# 부정연산자

not(num1 >= 50)

False

In [50]:
# OS 명령어 사용
!ls

01.Preview.ipynb
02.변수와 자료형.ipynb

In [51]:
# 문자열
var01 = "Hello World!"
var01

'Hello World!'

In [56]:
var01 = """
  Hello World
  12345
  대한민국

"""
# var01
print(var01)

  Hello World
  12345
  대한민국

In [57]:
# 쌍따옴표와 홑따옴표의 사용

var01 = "My father's wife is my mother."
var02 = 'He says "I love you"'
print(var01)
print(var02)

My father's wife is my mother.
He says "I love you"

In [59]:
# 문자열 연산 (덧셈)
var01 = "Python"
var02 = "is fun."

print(var01+var02)
print(var01,var02)

Pythonis fun.
Python is fun.

In [60]:
# 문자열 연산(곱셈)
print(var01 * 3)

PythonPythonPython

In [61]:
print("=" * 20)
print('Python')
print("=" * 20)

====================
Python
====================

In [71]:
# 문자열 indexing 과 Slicing
str = "abcdefghijklmn"

print(str[0])
print(str[0:3]) # 3 전까지 출력 

print(str[-1]) # 맨 뒤 글자
print(str[5:]) # 5번째부터 끝까지 다
print(str[:5])
print(str[0]+str[1]+str[2])
print(str[5:-2])

a
abc
n
fghijklmn
abcde
abc
fghijkl

In [76]:
str = "20221229Snow"
year = str[0:4,]
day = str[4:8]
weather = str[-4:]

print(year, day, weather)

2022 1229 Snow

In [86]:
str = "abbde"
print(str[:-3]+'c'+str[-2:])

abcde

# 문자열 formatting

In [88]:
print("I have %d apples"%2)
print("I have %s apples."%"two")

I have 2 apples
I have two apples.

In [89]:
number = 2
fruit = "apples"
print("I have %d %s."%(number, fruit))

I have 2 apples.

In [92]:
# 문자열 정렬
print("I have 2 %10s."%"apples")
print("I have 2 %-10s."%"apples")

I have 2     apples.
I have 2 apples    .

In [94]:
print("%0.4f"%3.14159)
print("%10.4f"%3.14159)

3.1416
    3.1416

# 문자열 관련 함수

In [96]:
# 문자 Count
str = "I have a dream."
print(str.count('a'))
print(len(str))

3
15

In [101]:
# 문자 위치 알려주기
print(str.find('a'))
print(str.find('x')) # 없으면 -1로 출력

3
-1

In [100]:
str[str.find('e')]

'e'

In [102]:
# 문자열 삽입
str = ","
str.join('abcde')

'a,b,c,d,e'

In [103]:
# 소문자를 대문자로
str = "hi"
str.upper()

'HI'

In [104]:
# 대문자를 소문자로
str = 'HI'
str.lower()

'hi'

In [105]:
# 공백지우기
str = '       hi'
str.lstrip()

'hi'

In [107]:
str = 'hi       '
str.rstrip()

'hi'

In [108]:
str = '         hi          '
str.strip()

'hi'

In [109]:
# 문자열 바꾸기
str = 'Life is too short to be happy,'
str.replace('happy','unhappy')

'Life is too short to be unhappy,'

In [111]:
# 문자열 나누기
str01 = 'Life is too short to be happy,'
list01 = str01.split() # 공백을 기준으로 나눔
list01

['Life', 'is', 'too', 'short', 'to', 'be', 'happy,']

In [113]:
len(list01)

7

In [115]:
str02 = 'a:b:c:d'
str02.split(':') # : 기준으로 나눔

['a', 'b', 'c', 'd']

# 고급 문자열 Formmating

In [116]:
# 숫자 바로 대입하기
"I have {0} apples.".format(3)

'I have 3 apples.'

In [117]:
"i have {0} apples.".format("three")

'i have three apples.'

In [118]:
number = 10
day = 'three'
"I have {0} apples, I will go for {1} days.".format(number, day)

'I have 10 apples, I will go for three days.'

In [119]:
# 왼쪽 정렬
'{0:<10}'.format("hi")

'hi        '

In [120]:
# 오른쪽 정렬
'{0:>10}'.format("hi")

'        hi'

In [121]:
# 가운데 정렬
'{0:^10}'.format("hi")

'    hi    '

In [122]:
# 공백 채우기
'{0:=^10}'.format("hi")

'====hi===='

In [123]:
# f문자열 formatting(Python 3.6 이상)
name = '홍길동'
age = 30
f'나의 이름은 {name} 이고 나이는 {age}세 입니다.'

'나의 이름은 홍길동 이고 나이는 30세 입니다.'

In [124]:
f'나는 내년이면 {age+1} 살 입니다.'

'나는 내년이면 31 살 입니다.'

# 날짜형 변환

In [125]:
# 날짜형 모듈 불러오기
from datetime import datetime, timedelta

In [126]:
time1 = datetime(2022,12,25,21,0,0,0)
print(time1)

2022-12-25 21:00:00

In [128]:
# 날짜 계산하기
time2 = datetime.now()
print(time2)
print(time1 - time2)

2022-06-22 16:13:50.682699
186 days, 4:46:09.317301

In [132]:
# 좀 더 편리하게 출력
print((time1 - time2).days, '일')
print((time1 - time2).seconds, '초') # 시간끼리의 초계산

186 일
17169 초

In [137]:
# 시간으로 확인하기
(time1 - time2).days *24 + math.floor((time1 - time2).seconds /60 /60)

4468

In [139]:
# 특정 날짜로부터 시간 계산 
time2 + timedelta(days=5) # 5일 후
time2 + timedelta(days=-5) # 5일 전

datetime.datetime(2022, 6, 17, 16, 13, 50, 682699)

In [140]:
print(time2 + timedelta(days=1,hours=2))

2022-06-23 18:13:50.682699